<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script src="script.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div ng-controller="ToDoListController" id="content">
		<table class="list">
			<tr class="line">
				<td></td>
				<td class="separator"></td>
				<td>
					<form ng-submit="submit()">
						<input ng-model="newLine" placeholder="I want to..." class="todoInput">
					</form>
				</td>
			</tr>
			<tr ng-repeat="line in list track by $index" class="line">
				<td><input type="checkbox" ng-model="line.done"/></td>
				<td class="separator"></td>
				<td><span ng-class="{'done':line.done}">{{line.text}}</span></td>
			</tr>
			<tr>
				<td></td>
				<td class="separator"></td>
				<td><span class="remaining">{{left()}} task(s) remaining</span></td>
			</tr>
		</table>
    </div>
</html>