<div class="todo-main-container">
	<table class="todo-list">
		<tr class="todo-list-line">
			<td class="td-done"></td>
			<td class="td-separator"></td>
			<td class="td-text">
				<form ng-submit="addNewTodo()">
					<input ng-model="newLine" placeholder="I want to..." class="todo-input-text-field"/>
				</form>
			</td>
		</tr>
		<tr ng-repeat="line in list track by $index" class="todo-list-line">
			<td><input class="td-done" type="checkbox" ng-change="updateTodo(line)" ng-model="line.done"/></td>
			<td class="td-separator"></td>
			<td class="td-text"><span ng-class="{'td-text_done':line.done}">{{line.text}}</span></td>
		</tr>
		<tr class="todo-list-line">
			<td class="td-done"></td>
			<td class="td-separator"></td>
			<td class="td-text"><span class="todo-remaining">{{getRemainingCount()}} task(s) remaining</span></td>
		</tr>
	</table>
</div>
